/*

Developer: Tyler Merrill

Table of Contents

RESET - normalize.css reference

HEADER - Site name, logo, main menu

SIDEBAR - Submenu, search bar, shortlists

MAIN CONTENT - Articles, search results

FOOTER – Copyright

Color Palette

*/

/* ------------ ‘RESET ------------*/
@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Montserrat|Rokkitt);

/* ------------ ‘HEADER ------------*/
/*global styles*/
header{
    background: url(../images/diagmonds-light.png) #000;
    color: #fff;
    font: 100% Montserrat, sans-serif;
    text-align: center;
}
.navbar{
    background: #000;
}
.navbar li a{
    font: 120% Montserrat, sans-serif;
    display: block;
}
/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}

/* ------------ ‘MAIN CONTENT------------*/
/*global styles*/
body{
    font: 100% "Noto Sans", sans-serif;
}
body p{
    padding-left: 10px;
}
body h2{
    padding-left: 5px;
}
body ul{/*Strip all list styling for whole page*/
    list-style-type: none;
    text-decoration: none;
}
#project img{
	width: 15em;
	height: 15em;
	display: block;
	border-radius: 110px;
	margin: 0 3em 1.5em 0;
}
.restaurant, .techresearch, .discography{
    /*border-left: 5px solid #B4A82E;
    background: #EFC62E;*/
    background: #fff;
    border: 1px solid #000;
    border-left: 5px solid #000;
    border-left: 5px solid #000;
    border-radius: 50px;
    padding: 5px;
    width: 51%;
}*/

/*mobile styles*/
@media only screen and (max-width:480px){
    body{
        background: #6C4A4A;
    }
}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){
    body{
        background: #4D533C;
    }
}

/*desktop styles*/
@media only screen and (min-width:769px){
    body{
        background: #394953;
    }
    #about, #skill{
        clear:both;
        float: left;
        height: 30em;
        width: 100%;
    }
    #project, #contact{
        float: right;
        padding-right: 5px;
        padding-left: 400px;
    }
    .projects-container{

    }
    #skill{
        background: url(../images/diagmonds-light.png) #f7f7f7;
        background: rgb(181,181,181); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2I1YjViNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjYzZjNmM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjZGJkYmRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjYzZjNmM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1YjViNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  rgba(181,181,181,1) 1%, rgba(198,198,198,1) 4%, rgba(219,219,219,1) 48%, rgba(198,198,198,1) 97%, rgba(181,181,181,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(181,181,181,1)), color-stop(4%,rgba(198,198,198,1)), color-stop(48%,rgba(219,219,219,1)), color-stop(97%,rgba(198,198,198,1)), color-stop(100%,rgba(181,181,181,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(198,198,198,1) 4%,rgba(219,219,219,1) 48%,rgba(198,198,198,1) 97%,rgba(181,181,181,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(198,198,198,1) 4%,rgba(219,219,219,1) 48%,rgba(198,198,198,1) 97%,rgba(181,181,181,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(181,181,181,1) 1%,rgba(198,198,198,1) 4%,rgba(219,219,219,1) 48%,rgba(198,198,198,1) 97%,rgba(181,181,181,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(181,181,181,1) 1%,rgba(198,198,198,1) 4%,rgba(219,219,219,1) 48%,rgba(198,198,198,1) 97%,rgba(181,181,181,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
    }

    #skill .chart{
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        display:table;
        table-layout: fixed;
        width:60%;
        max-width:700px;
        height: 100px;
        margin:0 auto;
        padding-top: 10px;
        background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
        background-size: 100% 50px;
        background-position: left top;
    }

    #skill li{
        position:relative;
        display:table-cell;
        vertical-align:bottom;
        height:200px;
    }

    #skill span{
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin:0 1em;
        display: block;
        background: rgba(#d1ecfa, .75);
        animation: draw 1s ease-in-out;
        width: 95%;
    }
    #skill &:before{
        position:absolute;
        left:0;right:0;top:100%;
        padding:5px 1em 0;
        display:block;
        text-align:center;
        content:attr(title);
        word-wrap: break-word;
    }
    #skill .skill{
        color: #fff;
        font: 80% Rokkitt, Helvetica, sans-serif;
        text-align: center;
    }
    .skillname{
        font-size: 175%;
    }
    .percent{
        color: #fff;
        font-size: 150%;
        opacity: .8;
    }
    .x-axis{
        font: 250% Rokkitt;
        text-align: center;
    }
    .html{
        border-left: 5px solid #B72222;
        background: #F72E2E;
    }
    .css{
        border-left: 5px solid #51A76A;
        background: #70E793;
    }
    .js{
        border-left: 5px solid #4F63B4;
        background: #708CFF;
    }
    .ps{
        border-left: 5px solid #C44B12;
        background: #F05C16;
    }
    .php{
        border-left: 5px solid #B4A82E;
        background: #EFC62E;
    }
    .bootstrap{
        border-left: 5px solid #4F1F5E;
        background: #7C3194;
    }
}
/* ------------ ‘SIDEBAR ------------*/
/*global styles*/

/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}
/* ------------ ‘FOOTER ------------*/
/*global styles*/
footer{
    clear: both;
    text-align: center;
    padding-top: 35em;
}
/*mobile styles*/
@media only screen and (max-width:480px){

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){

}
