/*

Developer: Tyler Merrill

Table of Contents

RESET - normalize.css reference

HEADER - Site name, logo, main menu

SIDEBAR - Submenu, search bar, shortlists

MAIN CONTENT - Articles, search results

FOOTER – Copyright

Background textures obtained from transparenttextures.com.


Color Palette
#F7F7F7 - Alabaster
#D1ECFA -  Tropical Blue
#B72222 - Roof Terracotta
#F72E2E - Pomegranate
#51A76A - Fruit Salad
#70E793 - Pastel Green
#4F63B4 - San Marino
#708CFF - Malibu
#C44B12 - Tia Maria
#F05C16 - Flamingo
#B4A82E - Alpine
#EFC62E - Golden Dream
#4F1F5E - Grape
#7C3194 - Vivid Violet
#D8D8D8 - Alto
*/

/* ------------ ‘RESET ------------*/
@import url("normalize.min.css");
@import url("skillgraph.css");
@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Montserrat|Rokkitt|Oswald);

/* ------------ ‘HEADER ------------*/
/*global styles*/
header{
    background: url(../images/diagmonds-light.png) #000;
    color: #fff;
    font: 90% Montserrat, sans-serif;
    text-align: center;
    width: 100%;
}
.navbar{
    background: #000;
}
.navbar li a{
    font: 100% Montserrat, sans-serif;
    display: block;
}
/* ------------ ‘MAIN CONTENT------------*/
/*global styles*/
body{
    background-image: url(../images/squairy_light.png);
    font: 200% "Noto Sans", sans-serif;
}
h1{
    font: 225% Oswald !important;
}
h2{
    font: 175% Oswald !important;
}
#project h3{
    font: 125% Oswald;
}
body ul{/*Strip all list styling for whole page*/
    list-style-type: none;
    text-decoration: none;
}
#project img{
    border-radius: 5px;
	margin: 0 3em 1.5em 0;
}
.content{
    margin: 35px;
}

/*project styling*/

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    height: 150px;
    margin: 0 6em 6em 0;
    position: relative;
    width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  display: table;
  height: 196px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
  opacity: 0;
}

/*submission form styling*/
#contact label{
    display: block;
}
#form_warning{
    font-size: 75%;
    font-style: italic;
}
/*mobile styles*/
@media only screen and (max-width:480px){
    body{
        text-align: center;
    }
    #project img{
        margin: auto !important;
        height: 10em;
        width: 10em;
    }
    #contact .content{
        width: 80%;
    }

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*desktop styles*/
@media only screen and (min-width:769px){
    #about{
        float: left;
    }
    #about .content{
        float: left;
        height: 10%;
        width: 70%;
    }
    #skill{
        clear: both;
        float: left;
        width: 100%;
    }
    #skill .content{
        height: 15em;
        width: 97%;
    }
    #contact
        float: left;
    }
    #contact .content{
        padding-left: 5px;
        padding-right: 50px;
        width: 95%;
    }

}
/* ------------ ‘FOOTER ------------*/
/*global styles*/
footer{
    background: #d8d8d8;
    clear: both;
    color: #000;
    font-size: 50%;
    font-style: italic;
    text-align: center;
}

