/*

Developer: Tyler Merrill

Table of Contents

RESET - normalize.css reference

HEADER - Site name, logo, main menu

SIDEBAR - Submenu, search bar, shortlists

MAIN CONTENT - Articles, search results

FOOTER – Copyright

Background textures obtained from transparenttextures.com.


Color Palette
#F7F7F7 - Alabaster
#D1ECFA -  Tropical Blue
#B72222 - Roof Terracotta
#F72E2E - Pomegranate
#51A76A - Fruit Salad
#70E793 - Pastel Green
#4F63B4 - San Marino
#708CFF - Malibu
#C44B12 - Tia Maria
#F05C16 - Flamingo
#B4A82E - Alpine
#EFC62E - Golden Dream
#4F1F5E - Grape
#7C3194 - Vivid Violet
#D8D8D8 - Alto
*/

/* ------------ ‘RESET ------------*/
@import url("normalize.min.css");
@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Montserrat|Rokkitt|Oswald);

/* ------------ ‘HEADER ------------*/
/*global styles*/
header{
    background: url(../images/diagmonds-light.png) #000;
    color: #fff;
    font: 100% Montserrat, sans-serif;
    text-align: center;
    width: 100%;
}
.navbar{
    background: #000;
}
.navbar li a{
    font: 120% Montserrat, sans-serif;
    display: block;
}
/* ------------ ‘MAIN CONTENT------------*/
/*global styles*/
body{
    font: 200% "Noto Sans", sans-serif;
}
h2{
    font: 175% Oswald !important;
}
#project h3{
    font: 125% Oswald;
}
body ul{/*Strip all list styling for whole page*/
    list-style-type: none;
    text-decoration: none;
}
#project img{
    border-radius: 5px;
    height: 15em;
	margin: 0 3em 1.5em 0;
    width: 15em;
}
#project img:hover{
    border: 4px solid #EFC62E;
}
.restaurant, .techresearch, .discography{
    display: inline;
    padding: 5px;
}
.content{
    margin: 35px;
}

/*skill chart styling*/
  #skill{
        background: url(../images/scale.png) no-repeat #F7F7F7;
        background-position: center;
    }
    #skill .chart{
        background-size: 100% 50px;
        background-position: left top;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        display:table;
        height: 100px;
        margin:0 auto;
        max-width:700px;
        min-width: 700px;
        padding-top: 10px;
        table-layout: fixed;
        width:60%;
    }
    #skill li{
        position:relative;
        display:table-cell;
        vertical-align:bottom;
        height:200px;
    }
    #skill span{
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin:0 1em;
        display: block;
        background: rgba(#d1ecfa, .75);
        animation: draw 1s ease-in-out;
        width: 95%;
    }
    #skill &:before{
        position:absolute;
        left:0;right:0;top:100%;
        padding:5px 1em 0;
        display:block;
        text-align:center;
        content:attr(title);
        word-wrap: break-word;
    }
    #skill .skill{
        color: #000;
        font: 60% Rokkitt, Helvetica, sans-serif;
        text-align: center;
    }
    .skillname{
        font-size: 175%;
    }
    .percent{
        color: #000;
        font-size: 150%;
        opacity: .5;
    }
    .x-axis{
        font: 250% Rokkitt;
        text-align: center;
    }
    .html{
        border-left: 5px solid #B72222;
        background: #F72E2E;
    }
    .css{
        border-left: 5px solid #51A76A;
        background: #70E793;
    }
    .js{
        border-left: 5px solid #4F63B4;
        background: #708CFF;
    }
    .ps{
        border-left: 5px solid #C44B12;
        background: #F05C16;
    }
    .php{
        border-left: 5px solid #B4A82E;
        background: #EFC62E;
        height: 25%;
    }
    .bootstrap{
        border-left: 5px solid #4F1F5E;
        background: #7C3194;
        height:75%
    }
/*submission form styling*/
#contact label{
    display: block;
}
/*mobile styles*/
@media only screen and (max-width:480px){
    body{
        text-align: center;
    }
    #project img{
        margin: auto !important;
        height: 10em;
        width: 10em;
    }
    .chart{
        display: none;
    }
}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width:768px){
    .chart{
        display: none;
    }
}

/*desktop styles*/
@media only screen and (min-width:769px){
    #about{
        float: left;
    }
    #about .content{
        float: left;
        height: 10%;
        width: 70%;
    }
    #project{
        float: right;
    }
    #project .content{
        padding-right: 5px;
        padding-left: 400px;
    }
    #skill{
        clear: both;
        float: left;
        width: 100%;
    }
    #skill .content{
        height: 15em;
        width: 100%;
    }
    #contact{
        float: left;
    }
    #contact .content{
        padding-left: 5px;
        padding-right: 400px;
    }

}
/* ------------ ‘FOOTER ------------*/
/*global styles*/
footer{
    background: #d8d8d8;
    clear: both;
    color: #000;
    font-size: 50%;
    font-style: italic;
    padding-top: 2em;
    text-align: center;
}
