body {
  background: #30303A;
  font-family: Roboto;
}
#bar1{
    background-color: #F72E2E;
}
#bar1:hover{
    background-color: #B72222;
}
#bar2{
    background-color: #70E793;
}
#bar2:hover{
    background-color: #51A76A;
}
#bar3{
    background-color: #708CFF;
}
#bar3:hover{
    background-color: #4F63B4;
}
#bar4{
    background-color: #F4E43E;
}
#bar4:hover{
    background-color: #B4A82E;
}
#bar5{
    background-color: #E77B18;
}
#bar5:hover{
    background-color: #C44B12;
}
#bar6{
    background-color: #7C3194;
}
#bar6:hover{
    background-color: #4F1F5E;
}
#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #444;
}
#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 70px;
  margin-left: 15px;
  position: absolute;
  bottom: 0;
}
#chart #bars li span {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
